<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='my_style.css') }}">
    <title>Checkerboard</title>
</head>
<body>
    <h1>checkerboard</h1>
    <table>
    {% for i in range(num1): %}
        <tr>
            {% for j in range(num2): %}
                <td class = "box{{ (i+j)%2 + 1}}" style="background-color:color{{ (i+j)%2 +1 }}"></td>
            {% endfor %}
        </tr>
    {% endfor %}
    </table>
</body>
</html>