<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter</title>
    <style>
        h1, .count, form{
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Counter</h1>
    <p class = "count">{{session['key_name']}} times</p>
    <form action="/destroy_session" method="post">
        <input type="submit" name="butt" value="Reset">
    </form>
</body>
</html>